{
	"presets": [
		"es2015",
		"stage-1",
		"react"
	],
  "plugins": [
    [ "import", { "libraryName": "antd", "style": true } ]
  ],
	"env": {
		"production": {
			"presets": [ "react-optimize" ]
		}
	}
}
