{
	"presets": [
		"es2015",
		"stage-1",
		"react"
	],
  "plugins": [
    ["lodash", {"id": ["lodash", "semantic-ui-react"]}]
  ],
	"env": {
		"production": {
			"presets": ["react-optimize"]
		}
	}
}
