{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "quotes": ["error", "double", {
      "avoidEscape": true
    }],
    "keyword-spacing": ["error", {
      "overrides": {
        "if": { "after": false },
        "for": { "after": false },
        "while": { "after": false },
        "switch": { "after": false }
      }
    }],
    "generator-star-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "comma-dangle": ["error", "never"],
    "array-bracket-spacing": ["error", "always"],
    "semi": ["error", "never"],
    "class-methods-use-this": "off"
  }
}
