.Card {
  &[data-instock=false] {
    img {
      filter: grayscale(1);
    }
    :global .thumbnail .caption {
      color: #888;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.availability {
  margin-left: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  text-align: center;

  & h3 {
    font-size: 1.15em
  }
}
