.Logo {
  height: 100%;
  width: auto;
  display: inline-flex;
  align-items: center;

  & img {
    height: 100%;
    max-width: 100%;
    width: auto;
  }
  & span {
    color: white !important;
    white-space: nowrap;
    margin-left: 8px;
  }
}

.Logo--small {
  & img { height: 60px; width: 60px; }
}

.Logo--default {
  & img { height: 120px; width: 120px; }
}

.Logo--large {
  & img { height: 160px; width: 160px; }
}
