@import "app/styles/bootstrap/variables";

.Logo {
  height: 100%;
  width: auto;
  display: inline-flex;
  align-items: center;

  & img {
    height: 40px;
    width: 40px;
    width: auto;
  }
  & .title {
    font-family: Roboto, sans-serif;
    white-space: nowrap;
    margin-left: 8px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .Logo .title { display: none }
}
